@import "fonts.less";
@import "carousel.less";
@import "common.less";
@import "header.less";
@import "gallery.less";
@import "program-details.less";
@import "~bootstrap/less/variables.less";

a.btn {
    color: #fff;
}

a.btn:hover {
    color: #9d9d9d;
}

#about {
    background-color: #000;
    margin-top: -60px;
    color: #fff;
}

.own {
    margin-bottom: -25px;
}

span {
    font-size: 15px;
    font-weight: bold;
}

.btn-group:last-child {
    margin-bottom: 60px;
}

#partners h2, #contacts h2, #roots h2 {
    color: #002b4f;
}

.thank {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

#contacts {
    .item {
        text-align: left;
        padding-right: 150px;
    }
    .item {
        font-family: "Raleway-SemiBold", sans-serif;
        font-size: 16px;
    }

    .item span {
        font-family: "Raleway-Regular", sans-serif;
        font-size: 18px;
    }
}

#partners a {
    display: block;
    width: 166px;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
}

@media (min-width: @screen-lg-min) {

    #partners .col-lg-2 {
        width: 20%;
    }
}
.acter{
    padding-bottom: 5px;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.acter:hover {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}