@import "fonts.less";
@import "carousel.less";
@import "common.less";
@import "header.less";
@import "gallery.less";

.carousel .container {
    position: relative;
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    left: 20px;
    width: 50%;
}

a.btn {
    color: #fff;
}

a.btn:hover {
    color: #9d9d9d;
}

.inf {
    border: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1 {
    font-size: 46px;
    font-weight: normal;
}

.carousel-caption {
    text-align: left;
}

.btn {
    border-radius: 0;
}

.sale, .btn-primary {
    background-color: #0886ed;
    background-image: none;
}

.carousel-indicators {
    bottom: 120px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
}

#about {
    background-color: #000;
    margin-top: -60px;
    color: #fff;
}

p {
    text-align: justify;
    line-height: 160%;
    font-size: 16px;
    padding-bottom: 15px;
}

hr {
    width: 45px;
    height: 1px;
    margin-left: 0px;
    background-color: #0886ed;
    margin-top: 7px;
    margin-bottom: 5px;
}


.own {
    margin-bottom: -25px;
}

span {
    font-size: 15px;
    font-weight: bold;
}

.btn-group:last-child {
    margin-bottom: 60px;
}

#partners h2, #contacts h2, #roots h2 {
    color: #002b4f;
}

.thank {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}

#contacts {
    .item {
        text-align: left;
        padding-right: 150px;
    }
    .item {
        font-family: "Raleway-SemiBold", sans-serif;
        font-size: 16px;
    }

    .item span {
        font-family: "Raleway-Regular", sans-serif;
        font-size: 18px;
    }
}

#partners a {
    display: block;
    width: 166px;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
}

@media (min-width: 1200px) {
    .gallery .col-lg-2 {
        width: 20%;
        margin-left: 0px;
    }

    #partners .col-lg-2 {
        width: 20%;
    }

    .sale, .btn-primary {
        width: 198px;
        height: 60px;
        padding-top: 15px;
    }
}

@media (max-width: 1200px) {
    .gallery .stub {
        display: none;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 50px;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-header {
        background: #000;
    }

    .navbar li {
        text-align: right;
    }

    .navbar-collapse {
        background: #000;
        margin-top: 0;
    }

    h2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .container {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    p {
        margin: 0;
    }

    .gallery hr {
        margin: auto;
    }

    .gallery .thumb {
        text-align: center;
    }

    .carousel .container {
        position: relative;
        height: 210px;
    }

    .carousel {
        max-height: 210px;
    }

    .carousel .item {
        max-height: 210px;
    }

    .carousel-caption {
        top: 0;
        left: 65px;
        width: 100%;
    }

    .carousel-indicators {
        bottom: 0;
    }

    .carousel-caption h1 {
        font-size: 18px;
        width: 50%;
        margin: 0;
    }

    .inf {
        margin-top: 10px;
    }

    .sale, .btn-primary, .btn-lg {
        width: 198px;
        height: 20px;
        padding-top: 0px;
    }
}
