#program-details {

  width: 100%;

  .modal {
    z-index: 6000;
  }
  .modal-dialog {
    width: @screen-lg-min - 50px;
    height: 640px;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
  }

  .modal-body {
    padding: 0;
    height: 100%;
  }

  .wrapper {
    display: flex;
    height: 100%;
  }

  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .modal-body button.close span {
    font-size: 44px;
  }

  .showroom {

    overflow: hidden;

    img {
      display: none;
      margin: auto;
      width: 151%;
      text-align: center;
    }

    img:first-child {
      display: block;
    }
  }

  .description {
    > div {
      margin-left: 25px;
      margin-right: 25px;
    }

    .schedule {
      color: blue;
    }

    .footer {
      position: absolute;
      bottom: 25px;

      span {
        margin-right: 10px;
      }
    }
    .buy-ticket {
      position: absolute;
      height: 60px;
      bottom: 25px;
      right: 25px;
    }
  }

  @media (min-width: @screen-md-max) {

  }
}

