#program-details {

  width: 100%;

  .modal {
    z-index: 6000;
  }

  .modal-dialog {
    width: @screen-lg-min - 50px;
    height: 640px;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
    margin-top: 40px;
  }

  .modal-body {
    padding: 0;
    height: 100%;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  button.close {
    padding-right: 10px;
    padding-top: 7px;
}
  .side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }

  .modal-body button.close span {
    font-size: 44px;
  }

  .showroom {

    overflow: hidden;

    img {
      display: none;
      margin: auto;
      width: 180%;
      text-align: center;
      margin-left: -190px;
    }

    img:first-child {
      display: block;
    }
  }


  .description {
    > div {
      margin-left: 30px;
      margin-right: 50px;
      padding-top: 20px;
    }

    .schedule {
      color: #2683c6;
      font-family: "Proxima_Nova_Bold", sans-serif;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
    }
    .awards{
      font-family: "Proxima_Nova_Bold", sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      padding-top: 10px;
      color:#4a4a4a;
    }
    .title{
      font-family: "Proxima_Nova_Regular", sans-serif;
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      padding-top: 10px;
      line-height: 1.2;
    }

   .content{
      font-family: "Proxima_Nova_Regular", sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      padding-top: 10px;
      color:#9fa3a7;
    }
    .author{
      font-family: "Proxima_Nova_Regular", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      padding-top: 2px;
    }
    .footer {
      position: absolute;
      bottom: 25px;

      span {
        margin-right: 10px;
        color: #4a4a4a;
      font-family: "Proxima_Nova_Bold", sans-serif;
      font-size: 14px;
      font-weight: bold;
      }
      .director{
        width: 250px;
      }
    }
    .buy-ticket {
      position: absolute;
      width: 198px;
      height: 60px;
      bottom: 25px;
      right: 25px;
      background-color: #2683c6;
    }
  }

  @media (max-width: @screen-md-max) {

  }

  @media (max-width: @screen-xs-max) {
    .modal-dialog {
      width: 95%;
    }

    .modal-content {
      margin-top: 15px;
      height: auto;
    }

    .side {
      flex-direction: row;
    }
  }
}

