<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Городской театр</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img id="logo" src="logo/logo.png" alt="logo"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="nav">АФИША</a></li>
                        <li><a href="#about" class="nav">О ТЕАТРЕ</a></li>
                        <li><a href="#tickets" class="nav">БИЛЕТЫ</a></li>
                        <li><a href="#contacts" class="nav">КОНТАКТЫ</a></li>
                    </ul>
                    <ul class="soc">
                        <li class="social">
                            <a href="https://vk.com/goteatr_ru" target="_blank" class="social"><i
                                    class="fa fa-vk fa-lg"></i> </a>
                        </li>
                        <li class="social">
                            <a href="https://www.instagram.com/gorodskoyteatr" target="_blank" class="social"><i
                                    class="fa fa-instagram fa-lg"></i></a>
                        </li>
                        <li class="social">
                            <a href="https://www.facebook.com/groups/1720834071500944/?fref=ts" target="_blank"
                               class="social"><i class="fa fa-facebook fa-lg"></i> </a>
                        </li>
                        <li class="social">
                            <a href="https://www.youtube.com/channel/UC8yODIklgt1TtOs6yl75ssA" target="_blank"
                               class="social"><i class="fa fa-youtube fa-lg"></i> </a>
                        </li>
                        <li class="social">
                            <a href="https://vimeo.com/user53380787" target="_blank" class="social"><i
                                    class="fa fa-vimeo-square fa-lg"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" src="img/sverchok.jpg"
                 alt="First slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>&laquo;Сказка о семейном счастье, или Сверчок за очагом&raquo;</h1>

                    <p>Чарльз Диккенс</p>
                    <a class="btn inf" href="#" role="button">ПОДРОБНЕЕ</a>
                    <a class="btn btn-lg btn-primary sale" href="#" role="button">Купить билет</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" src="img/nepostoyanstvo.jpg"
                 alt="Second slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>&laquo;Двойное непостоянство&raquo;</h1>

                    <p>Пьер Карле де Шамблен де Мариво</p>
                    <a class="btn inf" href="#" role="button">ПОДРОБНЕЕ</a>
                    <a class="btn btn-lg btn-primary sale" href="#" role="button">Купить билет</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" src="img/" alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>&laquo;Хочу быть волком&raquo;</h1>

                    <p>Беттина Вегенаст</p>
                    <a class="btn inf" href="#" role="button">ПОДРОБНЕЕ</a>
                    <a class="btn btn-lg btn-primary sale" href="#" role="button">Купить билет</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" src="img/belyenochi.jpg"
                 alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>&laquo;Белые ночи&raquo;</h1>

                    <p>Ф.М. Достоевский</p>
                    <a class="btn inf" href="#" role="button">ПОДРОБНЕЕ</a>
                    <a class="btn btn-lg btn-primary sale" href="#" role="button">Купить билет</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" src="img/derevnya.jpg"
                 alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>&laquo;Месяц в деревне&raquo;</h1>

                    <p>И.С.Тургенев</p>
                    <a class="btn inf" href="#" role="button">ПОДРОБНЕЕ</a>
                    <a class="btn btn-lg btn-primary sale" href="#" role="button">Купить билет</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->

<!-- about
================================================== -->
<div id="about">
    <div class="container">
        <h2>О театре</h2>

        <p>Городской театр - это молодой профессиональный театр Санкт-Петербурга. В его основе - выпускники Российского
            государственного института сценических искусств (бывш. СПбГАТИ), курс профессора С. Д. Черкасского. Вопреки
            сложившейся практике, актеры решили не растворяться в городских труппах, а продолжить творческий путь вместе
            под руководством режиссера Наталии Лапиной.</p>

        <p>И теперь они создают театр, пропитанный духом Петербурга и живущий его жизнью. Стремящийся к установлению
            контакта между сценой и зрителем. Живой, многоголосый, изменчивый, молодой и энергичный. Театр не только
            спектаклей, но еще и акций, «выходов в город», летних проектов, фестивалей. Театр с душой города.</p>

        <h2 class="own">Наша труппа</h2>

        <div class="row gallery">
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/nekrasov.png" alt="nekrasov"
                                                                class="acter"><span>Григорий Некрасов</span>
                <hr/>
                актер Театра на Литейном
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/cherepanova.png" alt="cherepanova"
                                                                class="acter"><span>Екатерина Черепанова</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/rudakov.png" alt="rudakov" class="acter"><span>Илья Рудаков</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/mihashuk.png" alt="mihashuk"
                                                                class="acter"><span>Роман Михащук</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/hristich.png" alt="hristich"
                                                                class="acter"><span>Анна Христич</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/sidorov.png" alt="sidorov" class="acter"><span>Никита Сидоров</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/vasiliev.png" alt="vasiliev"
                                                                class="acter"><span>Алексей Васильев</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/konstantinova.png" alt="konstantinova"
                                                                class="acter"><span>Любовь Константинова</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/mryabov.png" alt="mryabov" class="acter"><span>Михаил Рябов</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/lenda.png" alt="lenda" class="acter"><span>Дарья Ленда</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/russu.png" alt="russu" class="acter"><span>Валентин Руссу</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/shalygina.png" alt="shalygina"
                                                                class="acter"><span>Анастасия Шалыгина</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/chepura.png" alt="chepura" class="acter"><span>Иван Чепура</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/tarusina.png" alt="tarusina"
                                                                class="acter"><span>Тина Тарусина</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/poliakov.png" alt="poliakov"
                                                                class="acter"><span>Михаил Поляков</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/petrov.png" alt="petrov" class="acter"><span>Владимир Петров</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/sycheva.png" alt="sycheva" class="acter"><span>Анна Сычёва</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/iryabov.png" alt="iryabov" class="acter"><span>Илья Рябов</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/papashvili.png" alt="papashvili" class="acter"><span>Мария Папашвили</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/orlansky.png" alt="orlansky"
                                                                class="acter"><span>Пауль Орлански</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/shipkov.png" alt="shipkov" class="acter"><span>Юрий Шипков</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/naumova.png" alt="naumova" class="acter"><span>Ольга Наумова</span>
                <hr/>
                актриса
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/serkov.png" alt="serkov" class="acter"><span>Никита Серков</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/hodyrev.png" alt="hodyrev" class="acter"><span>Илья Ходырев</span>
                <hr/>
                актер
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/dudoladov.png" alt="dudoladov"
                                                                class="acter"><span>Игорь Дудоладов</span>
                <hr/>
                актер
            </div>

            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/manko.png" alt="manko" class="acter"><span>Александр Манько</span>
                <hr/>
                стажер МДТ
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb stub"></div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb stub"><img src="logo/logo_big.png" alt="lenda" class="acter">
            </div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb stub"></div>
            <div class="col-lg-2 col-md-4 col-xs-12 thumb"><img src="img/lapina.png" alt="lapina" class="acter"><span>Наталия Лапина</span>
                <hr/>
                главный режиссер
            </div>

        </div>
    </div>
</div>
<!-- contact
================================================== -->
<div id="partners" class="container">
    <h2>Партнеры</h2>

    <div class="row">
        <div class="item col-lg-2 col-md-4 col-xs-12"><a href="https://fadm.gov.ru/" target="_blank"><img
                src="logo/partner1.png" alt="partner1"></a></div>
        <div class="item col-lg-2 col-md-4 col-xs-12"><a href="http://znanie.spb.ru/" target="_blank"><img
                src="logo/partner2.png" alt="partner2"></a></div>
        <div class="item col-lg-2 col-md-4 col-xs-12"><a href="https://fadm.gov.ru/" target="_blank"><img
                src="logo/partner1.png" alt="partner1"></a></div>
        <div class="item col-lg-2 col-md-4 col-xs-12"><a href="http://znanie.spb.ru/" target="_blank"><img
                src="logo/partner2.png" alt="partner2"></a></div>
        <div class="item col-lg-2 col-md-4 col-xs-12"><a href="https://fadm.gov.ru/" target="_blank"><img
                src="logo/partner1.png" alt="partner1"></a></div>
    </div>
</div>

<div id="contacts" class="container">
    <h2>Контакты</h2>

    <div class="row">
        <div class="item col-lg-4"><span>Касса театра:<br/>+7 (987) 654-32-10</span><br/>По всем вопросам:<br/><a
                href="mailto:info@goteatr.ru" target="_blank">info@goteatr.ru</a></div>
        <div class="item col-lg-4"><span>Александра Чичкина<br/>+7 (981) 783-05-65</span><br/>По вопросам
            информационного сотрудничества и СМИ<br/><a href="mailto:pr@goteatr.ru" target="_blank">pr@goteatr.ru</a>
        </div>
        <div class="item col-lg-4"><span>Михаил Барканов<br/>+7 (921) 348-58-18</span><br/>По вопросам коммерческого
            партнёрства и спонсорства<br/><a href="mailto:m@goteatr.ru" target="_blank">m@goteatr.ru</a></div>
    </div>
</div>

<div id="roots" class="container">
    <h2 class="roots">Наши корни</h2>

    <p>Мы благодарны нашей Альма-матер - Российскому государственному институту сценических искусств (РГИСИ, бывш.
        СПбГАТИ) - старейшему и одному из крупнейших в России театральных вузов. Нам посчастливилось стать частью
        легендарной Академии Театрального Искусства на Моховой и учиться мастерству у выдающихся деятелей культуры. </p>
    <br/>

    <div class="row">
        <div class="item col-lg-2">С.Д.Черкасский<br/>
            В.Н.Галендеев <br/>
            Н.С. Лапина <br/>
            В.В. Любский <br/>
            С.П. Щипицын <br/>
            А. А.Смолко <br/>
            Е.А.Кошева<br/>
        </div>
        <div class="item col-lg-2">Л. Р. Мочалина <br/>
            Н.А.Латышева <br/>
            С.Н.Молянов<br/>
            И.А.Марков<br/>
            Г.М.Кондрашова <br/>
            Т.В.Петрова<br/>
            И.И.Благодёр<br/>
        </div>
        <div class="item col-lg-2">Л.Г.Сундстрем<br/>
            К.А.Учитель <br/>
            В.В.Волков <br/>
            Е.А.Шабунио <br/>
            Т.Н.Сморякова <br/>
            О.Ю.Голубева<br/>
            А.Б.Ульянова<br/>
        </div>
        <div class="item col-lg-2">П.М.Степанова <br/>
            М.М.Молодцова <br/>
            Г.В.Коваленко <br/>
            Е.В.Булышева <br/>
            А.Д.Сёмкин <br/>
            А.В.Платунов<br/>
            А.А.Самохина <br/>
        </div>
        <div class="item col-lg-2">Н.Н.Громов<br/>
            В.В.Гришков <br/>
            И.С.Андреева <br/>
            А.В.Рыбаков <br/>
            А.В.Немченко <br/>
            Е.Д.Ковалёв <br/>
            О.Н.Архипов <br/>
        </div>
        <div class="item col-lg-2">В.А.Мозин<br/>
            Т.В.Загорский <br/>
            И.М.Чувиляев<br/>
            Г.А.Праздников <br/>
            Г.Д.Суворов <br/>
            И.Г.Свешников<br/>
        </div>
    </div>
    <p class="thank">Мы искренне благодарим всех, кто оказывает помощь Городскому театру. Большое спасибо за поддержку
        <a href="https://vk.com/s.eremin" target="_blank">Сергею Сергеевичу Еремину</a> (СПбГУ), Скотту Тросту (Scott
        Trost, режиссер, США) и всем, кто неравнодушен к нам и нашему творчеству.</p>
</div>

<!-- footer
================================================== -->
<footer><img src="img/all.png" alt="all"/></footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>